.Navbar{
    display: flex;
    flex-direction: row;
    height: 2em;
}

.level{
    margin:auto 1rem;
}

.Navbar .logo{
    background-color: #eec0a5;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: black;
}

.color-format-select{
    margin-left: auto;
}